 <form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="id" value="<%= @book.id %>">
  <label>Title</label>
  <input type="text" name="title" value="<%= @book.title %>" />
  <label>Author</label>
  <input type="text" name="author" value="<%= @book.author %>" />
  <label>Rating</label>
  <input type="number" name="rating" value="<%= @book.rating %>" />
  <input type="hidden" name="_method" value="patch">
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>